poti face orice tpe de operatiune , dar sa ne asigura ca ambele au aceleasi tip
Automat se pozitioneaza pe float

In [4]:
X =10 +3 *2 -4/2
X, type(X)

(14.0, float)

In [5]:
print("abc"+"123")

abc123

In [10]:
print(123+"abc")
# poti vedea cum nu ruleaza, deoarece a imputs diferit

SyntaxError: invalid syntax (3739240333.py, line 2)

In [7]:
x= int(62.8)
x

62

In [11]:
round(0.123456789,4)

0.1235

In [12]:
round(0.123456789,3)

0.123

In [14]:
import math
math.ceil(0.123456789)

1

In [16]:
math.floor(0.123456789)

0

In [18]:
74 % 10

4

In [24]:
print("I'am taking the pyhton exam")

I'am taking the pyhton exam

In [29]:

x = I'/am taking the pyhton exam
print (x)

SyntaxError: unterminated string literal (detected at line 1) (2753316191.py, line 1)

In [31]:
print (9//2)

4

In [32]:
print(9*"2")

222222222

practic asta face, pune de 9 ori 2

In [36]:
print("2"*9.0)

TypeError: can't multiply sequence by non-int of type 'list'

In [37]:
print("2"*int [9.0])

TypeError: type 'int' is not subscriptable

In [40]:
print (9,"2")
# practic printeaza doua valori

9 2

In [41]:
print (1,2,3, True, sep = "!!!")
# asa definesti separatorul

1!!!2!!!3!!!True

In [44]:
print (9**2)
# multiplica 9*9

81

In [46]:
print('a'+'b'*2 +4 *'a')
# incepe calculul matematic, prima parte face inmultirea si dupa adauga

abbaaaa

In [47]:
a= True
b= False
print(not (a or b))
print ()

False

In [53]:
a=3
b=1
# a=(a+b) -in loc de asa, poti scrie asa
a+=b
a

4

In [54]:
a=3
b=1
a%=b
a

0