In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [4]:
a_list = [[11,22,33],[44,55,66]]

df= pd.DataFrame(a_list)

print(df)

    0   1   2
0  11  22  33
1  44  55  66

In [5]:
a_list = [[11,22,33],[44,55,66]]

df= pd.DataFrame(a_list)

df

    0   1   2
0  11  22  33
1  44  55  66

In [8]:
a_list = [[11,22,33],[44,55,66]]

df= pd.DataFrame(a_list)

print("type(df):" , type(df), "df.type:", df.dtypes)

type(df): <class 'pandas.core.frame.DataFrame'> df.type: 0    int64
1    int64
2    int64
dtype: object

In [9]:
a_list = [["11","Helo",33],[44,55,66]]

df= pd.DataFrame(a_list)

print("type(df):" , type(df), "df.type:", df.dtypes)

type(df): <class 'pandas.core.frame.DataFrame'> df.type: 0    object
1    object
2     int64
dtype: object

In [10]:
a_list = [[11,22,33],[44,55,66]]

df= pd.DataFrame(a_list)

df
# print("type(df):" , type(df), "df.type:", df.dtypes)

    0   1   2
0  11  22  33
1  44  55  66

In [11]:
a_list = [[11,22,33],[44,55,66]]

df= pd.DataFrame(a_list, index=("age","height"))

df
# print("type(df):" , type(df), "df.type:", df.dtypes)

         0   1   2
age     11  22  33
height  44  55  66

In [20]:
a_dict = {"age": [11,22,33],"height":[44,55,66]}

df= pd.DataFrame(a_dict)

df

   age  height
0   11      44
1   22      55
2   33      66

In [23]:
a_dict = {"age": [11,22,33,99,1111],"height":[44,55,66, None, None]}

df= pd.DataFrame(a_dict)

df

    age  height
0    11    44.0
1    22    55.0
2    33    66.0
3    99     NaN
4  1111     NaN

In [ ]:
df["height"[4]], type (df["height"])